.root-pane {
    -fx-background-color: linear-gradient(to bottom right, #1e3c72, #2a5298);
}

.card-container {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian,rgba(0,0,0,0.2),20, 0.2, 0, 5);
}

.price-label {
    -fx-font-size: 40px;
    -fx-text-fill: linear-gradient(to right, #6a11cb, #2575fc);
    -fx-font-weight: bold;
}

.number-label {
    -fx-text-fill: linear-gradient(to right, #6a11cb, #2575fc);
    -fx-font-weight: bold;
}
.place-bid-button {
    -fx-background-color: linear-gradient(to right, #6a11cb, #2575fc);
    -fx-background-radius: 30;
    -fx-text-fill: white;
}
.place-bid-button:hover {
    -fx-background-color: linear-gradient(to right, #8e44ff, #4a8cff); /* sáng hơn */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 20, 0, 0, 5);

    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}
.icon-svg {
    -fx-fill: transparent;
    -fx-stroke: #4A5D73;
    -fx-stroke-width: 1.5;
}
